/*Variables*/
/*Nueva Paleta*/
/*import*/
header {
  background-image: url(../imagenes/falafel.jpg);
  text-align: center;
  padding: 1em; }
  header h1 {
    padding: 0.8em 0.8em;
    font-size: 6em;
    color: #fdf5ec;
    text-shadow: 0.035em 0.035em #953767; }
  header h2 {
    margin: 0.8em 0.7em;
    font-size: 2.9em;
    color: #D8F58D;
    text-shadow: 0.045em 0.045em #284243; }
  header h3 {
    margin: 2em 3em;
    font-size: 2em;
    color: #bad15d; }

footer {
  background-color: #284243;
  text-align: center; }
  footer img {
    margin: 2em;
    height: 3em;
    width: 3em; }
  footer img:hover {
    transform: scale(0.9, 0.9);
    cursor: pointer; }
  footer .inicio {
    background-color: #62a39e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: white;
    text-decoration: none !important;
    /*no funciona esto ultimo. quiero que no se note tanto qeu es un hipervinculo*/ }
  footer a {
    color: white;
    text-decoration: none; }
  footer a:hover {
    color: #bad15d; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

/*Cards Parve y Lacteo*/
.cards__section--bg {
  margin-top: 5em;
  margin-bottom: 5em; }

.card__image--size {
  height: 11.6rem;
  margin-top: 0.7em; }

.card--space {
  margin: 1.7em; }

.h4__cards {
  margin: 1.8em; }

.centerCards {
  display: flex;
  justify-content: space-around; }

.card__product--background {
  background-color: #f5f5f5; }

.FAQ__general {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 1em; }

.FAQ__h4 {
  padding: 1em;
  margin: 1em;
  text-align: center;
  color: #bad15d;
  font-size: 2rem;
  text-shadow: 0.022em 0.022em #528689; }

nav {
  background-color: #528689;
  /*lo tiene el index y lacteo. sacarselo*/
  /*underline*/ }
  nav img {
    border-radius: 50%;
    margin-left: 10%;
    margin-right: 12%; }
  nav .scale:hover {
    transform: scale(0.96, 0.96); }
  nav ul li {
    font-size: 1.5em;
    padding: 1rem; }
  nav .btn__underline--color {
    border-bottom: solid #bad15d; }
  nav .dropdown__btn {
    background-color: #284243; }
  nav .nav__btn--underline {
    display: inline-block;
    position: relative;
    color: #0087ca; }
  nav .nav__btn--underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #bad15d;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out; }
  nav .nav__btn--underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left; }

/*dulce - salado*/
.title__dulce {
  margin-top: 2.7em;
  margin-bottom: 1.6em;
  color: #528689; }

.title__salado {
  margin-top: 2.7em;
  margin-bottom: 1.6em;
  color: #528689; }

.gallery__background {
  background-color: #fdf5ec;
  padding-top: 4em;
  padding-bottom: 5.5em; }

.gallery__h4 {
  text-align: center;
  margin-top: 2.3em;
  margin-bottom: 2.3em;
  font-size: 2rem; }

.galleryBox {
  display: flex;
  justify-content: space-around; }

.galleryItem {
  padding: 1em;
  margin: 1em 0.5em;
  height: 16rem;
  width: 20rem; }

.gallery--scale:hover {
  transform: scale(1.2, 1.2);
  transition: transform 1.3s;
  cursor: pointer; }

.gallery__name {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%); }

/*index*/
.index__bg {
  background-color: #fafafa; }

.index__article {
  font-size: 1.1em;
  color: #284243;
  margin: 2em;
  padding: 0 3em;
  text-align: left; }

/*presentacion*/
.presentacion__h4 {
  text-align: center;
  margin: 3rem;
  font-size: 2rem;
  color: #bad15d; }

.presentacion__article {
  background-color: #62a39e;
  font-size: 1.09em;
  color: #f7f7f7;
  margin: 1em;
  padding: 1.7em; }

@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 2.9em; }
  header h2 {
    font-size: 1.6em; }
  header h3 {
    font-size: 1.4em; }
  .index__article {
    font-size: 0.89em;
    margin: 0.3 0.6 0.6 0.6em;
    padding: 0.3em; }
  .gallery__h4 {
    margin-top: 1.7em;
    margin-bottom: 2em;
    font-size: 1.7rem; }
  .presentacion__h4 {
    font-size: 1.3em;
    margin: 1.5em; }
  .FAQ__h4 {
    font-size: 1.3em;
    margin: 1.5em; }
  .text__form {
    margin-top: 0px;
    padding-top: 0px; }
  .section__form {
    padding: 0;
    margin: 0; }
  .redes {
    margin: 0.6em; }
  .inicio {
    font-size: 1.3em;
    color: white; }
  .iconSize {
    margin-top: 15px;
    height: 60px !important;
    width: 60px !important; }
  .form {
    margin: 0; } }

@media only screen and (min-width: 678px), (max-width: 1024px) {
  header h1 {
    font-size: 2.9em; }
  header h2 {
    font-size: 1.8em; }
  header h3 {
    font-size: 1.3em; }
  .gallery__h4 {
    margin: 1.4em;
    font-size: 1.5em; }
  .galleryItem {
    width: 15rem;
    height: 12rem;
    margin: 0.2em; }
  .inicio {
    font-size: 1em;
    color: white; }
  .presentacion__h4 {
    font-size: 1.8em;
    margin: 0.8em; }
  .FAQ__h4 {
    font-size: 1.8em;
    margin: 0.8em; }
  .iconSize {
    margin-top: 15px;
    height: 80px !important;
    width: 80px !important; }
  .text__form {
    font-size: 1.23em; } }

@media only screen and (min-width: 1025px) {
  header h1 {
    padding: 0.8em 0.8em;
    font-size: 6em; }
  header h2 {
    margin: 0.8em 0.7em;
    font-size: 2.9em; }
  header h3 {
    margin: 2em 3em;
    font-size: 2em; }
  .index__article {
    font-size: 1.1em;
    margin: 2em;
    padding: 0 3em; }
  .gallery__h4 {
    margin-top: 2.3em;
    margin-bottom: 2.3em;
    font-size: 2rem; }
  .galleryItem {
    padding: 1em;
    margin: 1em 0.5em;
    height: 16rem;
    width: 20rem; }
  .presentacion__h4 {
    margin: 3rem;
    font-size: 2rem; } }

.section__form {
  background-color: #fdf5ec;
  padding-top: 4em; }

.redes {
  display: flex;
  justify-content: space-around; }

.iconShadow {
  margin-top: 2em; }

.iconShadow:hover {
  transform: scale(1.06, 1.06); }

.iconSize {
  width: 94px; }

.text__form {
  margin: 1em;
  padding: 1.6em; }

.form {
  margin: 1em;
  padding: 0.7em; }

a {
  text-decoration: none;
  color: black; }

body {
  background-color: #fafafa; }
