@media only screen and (max-width: 767px){
	header{
		height:35vh;

		h1{
			font-size:2.9em;
		}
		h2{
			font-size:1.6em;
		}
		h3{
			font-size:1.4em;
		}
	}

	.index__bg{
		height:55vh;
	}

	.index__article{
		font-size:0.89em;
		margin:0.3 0.6 0.6 0.6em;
		padding:0.3em;
	}

	.gallery__h4{
		margin-top:1.7em;
		margin-bottom:2em;
		font-size: 1.7rem;
	}

	.presentacion__h4{
		font-size: 1.3em;
		margin:1.5em;
	}

	.FAQ__h4{
		font-size:1.3em;
		margin: 1.5em;
	}

	.text__form{
		margin-top: 0;
		padding-top: 0;
	}
	
	.section__form{
		height:98vh;
		padding-top:0;
	}

	.redes{
		margin:0.6em;
	}

	footer{
		font-size:1em;

		.inicio{
			font-size:1.3em;
			color:white;
		}
	}

	.iconSize{
		margin-top: 15px;
		height:60px !important;
		width:60px !important;
	}
	
}