footer{
	height:25vh;
	background-color: $primaryDark;
	text-align: center;

	img{
		margin:2em;
		height:3em;
		width:3em;
	}

	img:hover{
		transform: scale(0.9, 0.9);
		cursor:pointer;
	}

	.inicio{
		height:10vh;
		background-color:$primaryBright;
		display:flex;
		align-items: center;
		justify-content: center;
		font-size: 1.6rem;
		color:white;
		text-decoration:none !important;
		/*no funciona esto ultimo. quiero que no se note tanto qeu es un hipervinculo*/
	}

	a{
	color:white;
	text-decoration: none;
	}

	a:hover{
		color:$primaryLight;
	}
}