.section__form{
	background-color:$clear;
	padding-top:4em;
}
.redes{
	display:flex;
	justify-content:space-around;
}

.iconShadow{
	margin-top:2em;
}

.iconShadow:hover{
	transform:scale(1.06, 1.06);
}

.iconSize{
	width:94px;
}

.text__form{
	margin:1em;
	padding:1.6em;
}

.form{
	margin:1em;
	padding:0.7em;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
	color:$primaryBright;
}