.section__btn{
	background-color:$grey2; 
}

.btn__dropdown--atributes{
	padding:1em;
	background-color:$primaryLight; 
}

.btn__h4{
	color:$secondary;
}

.dropdownMenu--background{
	background-color: $grey1; 
}

/*dulce - salado*/

.title__dulce{
	margin-top: 2.7em;
	margin-bottom: 1.6em;
	color:$primary;
}

.title__salado{
	margin-top: 2.7em;
	margin-bottom: 1.6em;
	color:$primary;
}