/*index*/
.index__bg{
	background-color:$neutral;
	height:60vh;
}
.index__article{
	font-size: 1.1em;
	color:$primaryDark;
	margin:2em;
	padding: 0 3em;
	text-align:left;
}

/*presentacion*/
.presentacion__h4{
	text-align:center;
	margin:3rem;
	font-size: 2rem;
	color:$primaryLight;
}

.presentacion__article{
	background-color:$primaryBright;
	font-size:1.09em;
	color:$light;
	margin:1em;
	padding:1.7em;
}
