/*Variables*/
/*Nueva Paleta*/
$primary:#528689;
$primaryBright:#62a39e;
$primaryLight:#bad15d;
$primaryLighter:#D8F58D;
$alter:#953767;
$clear:#fdf5ec;
$light:#f7f7f7;
$dark:#21332c;
$neutral:#fafafa;
$primaryDark:#284243;
$grey2:#f5f5f5;

/*import*/
@import "_header";
@import "_footer";
@import "_reset";
@import "_cards";
@import "_FAQ";
@import "_nav";
@import "_productos";
@import "_gallery";
@import "_textos";
@import "_breakpoints";
@import "_form";

body{
    background-color:$neutral;
}